body {
    font-family: arial;
    width: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.github {
    text-align: center;
    font-size: 1.0em;
    padding-top: 1.0em;
}

.live {
    text-align: center;
    font-size: 1.0em;
}

#liveDate {
    padding-bottom: 1.0em;
}

#liveNOK {
    font-weight: bold;
}

